<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>My Guy</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="index.css">
	<link href='http://fonts.googleapis.com/css?family=Alfa+Slab+One' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="bower_components/underscore/underscore-min.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
	<script type="text/javascript" src="js/template.js"></script>
	<script type="text/javascript" src="js/routers.js"></script>
</head>
<body>

	<!-- Schedule Template -->

	<script type="text/html" id="schedule">
		<div class="schedule">
			<div class="banner">
				<h1>MYGUY</h1>
				<h5><span class="glyphicon glyphicon-star" aria-hidden="true"></span>FOOTBALL<span class="glyphicon glyphicon-star" aria-hidden="true"></span></h5>
			</div>
			<div class="title">CHOOSE A GAME</div>
			<div class="game-schedule">
				<% _.each( mg.schedule, function( game ){ %>
					<div class="wrapper">
						<div class="left-tile <%= game.color %> "></div>
						<div class="content">
							<div class="time"><%= game.day %> | <%= game.time %> | <%= (game.network).toUpperCase() %> </div>
							<div>
								<p><%= game.teamCity %></p>
								<p><%= (game.teamName).toUpperCase() %></p>
								<p><%= game.record %></p>
							</div>
							<div>
								<p>Starting <%= game.beforeKickOff %> before kickoff</p>
							</div>
							<div>
								<p><%= game.teamCity2 %></p>
								<p><%= (game.teamName2).toUpperCase() %></p>
								<p><%= game.record2 %></p>
							</div>
						</div>
						<div class="right-tile <%= game.color2 %>"></div>
					</div>
				<% }); %>
			</div>
		</div>
  	</script>

  	<!-- End Schedule Template -->

	<script type="text/html" id="my-game">
	<h1>My Game:</h1> 
	</script>
	<script type="text/html" id="plays">
	<h1>Play:<h1/> 
	</script>

	<!-- LeaderBoard Templates -->

		<!-- LeaderBoard Sub Template -->
	<script type="text/html" id="sub-leaderboard">
		    		<div class="content" >
			    		<div class="player-info">
			    			<div class="rank"><%= mg.rank %></div>
			    			<div class="avatar"></div>
			    			<div class="name">
			    				<p style="margin:0;"><%= mg.name %></p>
			    				<p style="margin:0"><%= mg.city %></p>
			    			</div>
			    		</div>
			    		<div class="point-container">
			    			<div class="points"><%= mg.points %></div>
			    		</div>
		    		</div>
	</script>
		<!-- End Leaderboard Sub Template -->

		<!-- Leaderboard Main Template -->
	<script type="text/html" id="leaderboard">
			<div class="leaderboard">
				<ul class="nav nav-tabs" data-tabs="tabs">
				    <li class="active"><a href="#weekly" data-toggle="tab">Weekly</a></li>
				    <li><a href="#season" data-toggle="tab">Season</a></li>
				</ul>
				<div class="wrapper" >
					<div id="my-tab-content" class="tab-content">
				    	<div class=" tab-pane active" id="weekly">
				    		<% _.each( mg.leaderboard.weekly, function( leaderboard ){ %>
					    		<%= mg.renderSub(leaderboard) %>
				    		<% }); %>
				    	</div>
					    <div class="tab-pane" id="season">
					        <% _.each( mg.leaderboard.season, function( leaderboard ){ %>
					    		<%= mg.renderSub(leaderboard) %>
				    		<% }); %>
					    </div>
					</div>
				</div>
				<div class="user-tile">
					<%= mg.renderSub(mg.leaderboard.user) %>
				</div>
			</div>
	</script>
		<!-- End Leaderboard Main Template -->
	<!-- End Leaderboard Sub Template -->

	<script type="text/html" id="help">
	<h1>Help: </h1>
	</script>
		<div class="container">
			<div class="row" style="margin: 0">
				<div class="col-xs-12 col-ms-10 col-ms-offset-1 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-lg-6 main-col" style="padding:0;  ">

				  <div id="view" ></div>
				  	<div id="layout" style="max-width:1000px; margin:0 auto">
					   	<ul>
						    <a href="#"><li><span class="glyphicon glyphicon-list-alt"></span><p>Schedule</p></li></a>
						    <a href="#/my-game"><li><span class="glyphicon">MG</span><p>MyGame</p></li></a>
						    <a href="#/plays"><li><span class="glyphicon glyphicon-fullscreen"></span><p>Plays</p></li></a>
						    <a href="#/leaderboard"><li><span class="glyphicon glyphicon-user"></span><p>Leader</p></li></a>
						    <a href="#/help"><li class="chewy"><span class="glyphicon glyphicon-info-sign"></span><p>Help</p></li></a>
			  			</ul>
		  			</div>
				</div>
 			</div>
 		</div>
</body>
</html>

<!--

	

		-->