/*Colors*/

.blue {
	background-color: blue;
}

.orange {
	background-color: #FB4F14;
}

.brown {
	background-color: #22150C;
}

.black {
	background-color: #000 ;
}

.teal {
	background-color: #008E97;
}

.navy-blue {
	background-color: #002244;
}

.red {
	background-color: red;
}

.gold {
	background-color: #9F8958;
}

.yellow {
	background-color: #FFB612;
}

.baby-blue {
	background-color: #0073CF;
}

.color-green {
	color: #00B700;
}

.color-red {
	color: red;
}

.color-orange {
	color: orange;
}
/*Override Bootstrap*/

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .nav > li > a:hover {
	border: none;
	background-color: transparent;
}

.tab-content > .active {
    display: block !important;
}

.tab-content > .tab-pane {
    display: none ;
}
 

/*Menu*/

.container {
	max-width: 1000px;
	position: absolute;
	left: 0;
	right:0;
	bottom:0;
	top:0;
	padding: 0;
}

ul{
	overflow: hidden;
	list-style-type: none;
	padding-left: 0;
	margin:0;
}

#layout {
	position: fixed;
	bottom: 0;
	left:0;
	right:0;
	background-color: rgb(38,38,38);
	height: 75px;
}

#layout a{
	color: grey;	
}

#layout ul li {
	float:left;
	text-align: center;
	width: 20%;
	padding: 10px 0;

}

#layout ul li:not(.chewy) {
	border-right: 1px solid grey;

}

#layout ul a:nth-child(2) li span {
	font-family: 'Alfa Slab One', cursive;
	font-size: 1.8em;
	line-height: 38px;
}

#layout .glyphicon {
	font-size: 2.5em;
}

#layout p {
	font-size: .8em;
	margin: 0;
}



/*Schedule*/

.schedule .banner {
	background-color: rgb(38,38,38);
	text-align: center;
	padding:5px 0;
}

.schedule .banner h1, .schedule .banner h5{
	font-size: 2em;
	color: white;
	font-family: 'Alfa Slab One', cursive;
}

.schedule .banner h1 {
	margin-top: 10px;
	margin-bottom: 0;
	font-size:4em;
}

.schedule .banner h5 {
	margin-top: -5px;
}

.schedule .glyphicon-star {
	padding: 10px;
}

.schedule .title {
	padding: 10px 0;
	background-color: #eee;
	text-align: center;
}

.schedule .wrapper{
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	position: relative;
}

.schedule .left-tile, .schedule .right-tile {
	width: 10px;
	position: absolute;
	top: 0;
	bottom:0;
}

.schedule .left-tile {
	left: 0;
}

.schedule .right-tile{
	right: 0;
}

.schedule .content{
	margin: 0 10px;
	text-align: center;
	padding-bottom:5px; 

}

.schedule .content .time{
	width: 100%;
	padding-top: 10px;
}

.schedule .content div:nth-child(3){
	color: #ccc;
}

.schedule .content div:not(:first-child) {
	width: 32%;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid transparent;
}

.schedule .content p:nth-child(2){
	font-size: 1.2em;
	margin-top: -5px;
}

.schedule .content p:nth-child(3){
	color: #ccc;
}

.schedule .content p {
	margin: 0;
}

.schedule .game-schedule {
	position:absolute; 
	top:170px;
	bottom:76px;
	left:0;
	right:0; 
	overflow-y:scroll
}

/*Leaderboard*/

.leaderboard {
	position:absolute; 
	top:0; 
	right:0; 
	left:0; 
	bottom:75px;
}

.leaderboard .nav {
	width: 100%; 
	height: 50px;
}


.leaderboard .wrapper	 {
	position:absolute;
	left:0;
	right:0;
	top:50px;
	bottom:75px;
	overflow-y: scroll; 
}

.leaderboard .user-tile{
	background-color: #ccc; 
	position:absolute;
	height: 75px;
	bottom:0;
	left:0;
	right:0
}

.leaderboard .nav li {
	width:50%; 
	height:50px; 
	text-align:center;
	border: 1px solid #ccc;
	line-height: 50px;
	background-color: #eee;
	float: left;
	position: relative;
}

.leaderboard .nav .active {
	background-color: white;

}

.leaderboard .nav-tabs > li.active > a {
	color: black;
}

.leaderboard .nav a {
	color: grey;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	text-decoration: none;
}

.leaderboard .content {
	border:1px solid #ccc; 
	padding: 0 10px; 
	height:75px; 
	position:relative;

}

.leaderboard .player-info {
	width: 75%;
	float:left; 
	height:75px;

}

.leaderboard .rank {
	display:inline-block; 
	font-size: 1.5em; 
	font-family: 'Alfa Slab One', cursive; 
	vertical-align: middle;
	margin-top: -15px;
}

.leaderboard .avatar {
	border:1px solid white; 
	display:inline-block; 
	width: 50px; 
	height:50px; 
	border-radius: 50%; 
	top:50%; 
	position:relative; 
	transform:translateY(-50%); 
	-webkit-transform:translateY(-50%); 
	background-image: url('http://educade.org/assets/missing_large.png'); 
	margin: 0 10px;
	background-position: center; 
	background-size:cover;
}

.leaderboard .name {
	display:inline-block; 
	vertical-align:middle; 
	margin-top: -10px
}

.leaderboard .name p:first-child{
	font-size: 1.3em;
}

.leaderboard .point-container {
	width: 25%;
	float:right; 
	height:75px;
	font-family: 'Alfa Slab One', cursive;
}

.leaderboard .point-container .points {
	text-align:center; 
	line-height:75px; 
	font-size: 1.5em;  
}

/*Plays*/

.plays .header {
	background-color: #eee;
	height: 45px;
	font-size: 1.1em;
}

.plays .header span, .plays .content span {
	float: left;
	line-height:50px;
	padding: 0 10px;
}

.plays .header span{
	line-height: 45px;
}

.plays .header span:nth-child(3), .plays .content span:nth-child(3) {
	float: right;
}

.plays .content  {
	overflow: hidden;
	border: 1px solid #eee;
}

.plays .wrapper {
	position: absolute;
	top: 45px;
	left:0;
	right:0;
	bottom: 75px;
	overflow-y: scroll;
}

/*My Game*/

.my-game .banner {
	height: 90px;
}

.my-game .banner .score, .my-game .banner .time {
	width: 30%;
	background-color: rgb(37,37,37);
	float: left;
	height: 90px;
	color: white;
	text-align: center;
	position: relative;
}

.my-game .banner p {
	margin:0;
	font-size: 1.4em;
}


.my-game .banner .score .wrapper {
	position: absolute;
	top:50%;
	left:0;
	right:0;
	transform:translateY(-50%);
}

.my-game .banner .time {
	width: 40%;
	background-color: #eee;
}

.my-game .banner .time .ad {
	height: 40px;
	text-align: center;
	color: #ccc;
	line-height: 40px;
}

.my-game .banner .time .clock {
	background-color: grey;
	height: 50px;
	color: #ccc;
}

.time .clock .contents{
	position: relative;
}

.time .clock div:first-child {
	height: 15px;
}

.time .clock .contents div {
	float: left;
	width: 50%;
	height: 35px;
	line-height: 35px;
	font-size: 1.2em;
	color:white;
}

.time .clock .contents div span{
	border: 1px solid white;
	padding: 1px 8px;
}

.my-game .points-container {
	width: 80%;
	background-color: rgb(138,138,138);
	height: 185px;
	margin: 10px auto;
	position: relative;
	border-radius: 5px; 
	margin-bottom: 20px;
}

.my-game .points-container .streak-container{
	width: 92%;
	position: relative;
	height: 22px;
	background-color: #ddd;
	top:8px;
	left: 50%;
	transform:translateX(-50%);
	text-align: center;
	border-radius: 5px;
}

.my-game .streak-container div {
	background-color: rgb(138,138,138);
	display: inline-block;
	width: 28%;
	height: 12px;
	vertical-align: middle;
	margin: 0 2px;
	border-radius: 5px;
}

.my-game .points-container .points{
	font-family: 'Alfa Slab One', cursive;
	text-align: center;
	position: relative;
	top:22px;
	font-size: 4em;
	color: white;
}

.my-game .points-container .points-quarter-container{
	height: 50px;
	width: 90%;
	background-color: #ddd;
	border-radius: 5px; 
	position: relative;
	top:22px;
	margin: 0 auto;
}

.points-quarter-container .title{
	color: white;
	text-align: center;
	font-size: .8em;
	height: 15px;
	padding: 2px;
}

.points-quarter {
	margin-top: 5px;
	float: left;
	width: 33.3%;
	text-align: center;
	border: 1px solid white;
	border-bottom: none;
	border-left: none;
	height: 29px;
	line-height: 29px;
	color: grey;
}

.points-quarter-container div:last-child {
	border-right: none; 
}

.my-game .button {
	height: 80px;
	width:95%;
	background-color: grey;
	margin: 10px auto;
	line-height: 80px;
	text-align: center;
	color: white;
	font-size: 2em;
}

.my-game .content-wrapper {
	overflow: hidden;
	position: absolute;
	left: 0;
	right:	0;
	bottom: 75px;
	top:90px;
	overflow-y: scroll; 
}
