/*Menu*/

.container {
	max-width: 1000px;
	position: absolute;
	left: 0;
	right:0;
	bottom:0;
	top:0;
	padding: 0;

}

ul{
	border: 1px solid black;
	overflow: hidden;
	list-style-type: none;
	padding-left: 0;
	margin:0;
}

#layout {
	position: fixed;
	bottom: 0;
	left:0;
	right:0;
	background-color: rgb(38,38,38);
}

#layout a{
	color: grey;	
}

#layout ul li {
	float:left;
	text-align: center;
	width: 20%;
	padding: 10px 0;

}

#layout ul li:not(.chewy) {
	border-right: 1px solid grey;

}

#layout ul a:nth-child(2) li span {
	font-family: 'Alfa Slab One', cursive;
	font-size: 1.8em;
	line-height: 38px;
}

#layout .glyphicon {
	font-size: 2.5em;
}

#layout p {
	font-size: .8em;
	margin: 0;
}



/*Schedule*/

.banner {
	background-color: rgb(38,38,38);
	text-align: center;
	padding:5px 0;
}

.banner h1, .banner h5{
	font-size: 2em;
	color: white;
	font-family: 'Alfa Slab One', cursive;
}

.banner h1 {
	margin-top: 10px;
	margin-bottom: 0;
	font-size:4em;
}

.banner h5 {
	margin-top: -5px;
}

.glyphicon-star {
	padding: 10px;
}

.title {
	padding: 10px 0;
	background-color: #eee;
	text-align: center;
}

.wrapper{
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	position: relative;
}

.left-tile, .right-tile {
	width: 10px;
	position: absolute;
	top: 0;
	bottom:0;
}

.left-tile {
	background-color: blue;
	left: 0;
}

.right-tile{
	background-color: orange;
	right: 0;
}

.content{
	margin: 0 10px;
	text-align: center;
	padding-bottom:5px; 

}

.content .time{
	width: 100%;
	padding-top: 10px;
}

.content div:nth-child(3){
	color: #ccc;
}

.content div:not(:first-child) {
	width: 32%;
	display: inline-block;
	vertical-align: middle;
}

.content p:nth-child(2){
	font-size: 1.3em;
	margin-top: -5px;
}

.content p:nth-child(3){
	color: #ccc;
}

.content p {
	margin: 0;
}

.game-schedule {
	position:absolute; 
	top:170px;
	bottom:75px;
	left:0;
	right:0; 
	overflow-x:scroll
}

